div.heading1{
  text-align: center;
  font-family: palatino;
  height: 200px;
  width: 120px;
  background-image: url(resources/media/WP.jpg)
}
div.heading2{
  text-align: center;
  font-family: palatino;
  background-image: url(resources/media/artfestival.jpg)
}
div.heading1 img{
  display: block;
  margin: auto;
}
