div.heading1{
  text-align: center;
  font-family: palatino;
}
div.heading2{
  text-align: center;
  background-image: url("https://i.pinimg.com/736x/03/a3/e1/03a3e1e0aecb33daa16682d9ffe83112--festival-posters-art-festival.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
h2{
  font-family: palatino;
  font-color: white;
}
ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid #e7e7e7;
      background-color: #f3f3f3;
      position: fixed;
      bottom: 0;
      width: 100%;
  }
li{
    font-family: palatino;
    float: left;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
